html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--calcite-sans-family);
  font-size: var(--calcite-font-size-0);
  color: var(--calcite-ui-text-1);
  max-width: 1024px;
  min-width: 280px;
  width: 70vw;
  padding: 0 var(--calcite-spacing-double);
  margin: 0 auto;
  background-color: var(--calcite-ui-background);
}

.logo {
  background-color: #fff;
  height: 200px;
  width: 200px;
  display: flex;
  margin: 2em auto;
  border-radius: var(--calcite-border-radius);
}

fieldset {
  margin: 2.5rem 0;
  padding: 1rem;
  border-collapse: collapse;
  border: 1px solid;
  border-color: var(--calcite-ui-border-1);
  border-radius: var(--calcite-border-radius);
}

#theme-label {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: var(--calcite-ui-background);
  border: 1px solid;
  border-color: var(--calcite-ui-border-1);
  border-radius: var(--calcite-border-radius);
  margin: 0;
  padding: 10px;
}

#theme-label label {
  margin: 0;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

ol {
  margin: 0.5em 0;
  padding: 0 1.5rem;
}
ol li {
  padding: 0 0 1em 0;
}
