html,
body,
main,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
}

#app-loader {
  align-self: center;
  justify-self: center;
}

#header-title {
  margin-left: 12px;
  margin-right: 12px;
}

.info-content {
  padding: 12px;
}
