.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.reveal code {
  color: orange;
  font-style: italic;
}

html,
body {
  font-size: 30px;
}

.reveal {
  --heading1-size: 3rem;
  --heading2-size: 2rem;
  --heading3-size: 1.5rem;
  --heading4-size: 1rem;
}

.reveal h1 {
  font-size: var(--heading1-size);
}

.reveal h2 {
  font-size: var(--heading2-size);
}

.reveal h3 {
  font-size: var(--heading3-size);
}

.reveal h4 {
  font-size: var(--heading4-size);
}
